<ion-header>
   <ion-navbar>
      <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
      <ion-title (click)="clear()">All Products</ion-title>
   </ion-navbar>
</ion-header>

<ion-content padding>
   <ion-list>
      <ion-item *ngFor="let product of allProducts" (click)="viewDetails(product)">
         <ion-avatar item-start>
            <img src="assets/images/furniture.jpeg">
         </ion-avatar>
         <h2>{{product.name}}</h2>
         <p>{{product.description}}</p>
         <p>{{product.type}}</p>
         <p>Price: {{product.price}}</p>
         <button ion-button clear item-end (click)="addToCart($event, product)" *ngIf="!addedToCardIds[toolsService.getUniqueIdForCart(product)]">Add to Cart</button>
      </ion-item>
   </ion-list>

</ion-content>